
body {
   line-height: 28px;
   font-size: 16px;
}

#messages {
   background-color: #fafafa;
   border: 1px solid #aaa;
   border-radius: 10px;
   overflow: auto;
   height: 250px;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#messages li {
   border-top: 1px solid #aaa;
}

#messages li:first-child {
   border-top: none;
}

label.name {
   display: block;
   float: left;
   width: 80px;
   overflow: hidden;
   padding: 0 10px;
   margin-right: 10px;
   background-color: #eee;
   position: relative;
}